/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

:root {
  --main-font-family: "Poppins", sans-serif;
  --main-font-size: 16px;
  --primary-linear-gradient: linear-gradient(to right, #f9d976, #f39f86);
  --primary-color: rgba(243, 159, 134, 1);
  --secondary-color: rgba(249, 217, 118, 1);
}
body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  background: rgba(0, 0, 0, 0.7);
  background-image: url("../img/background/snowy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
.header {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}
.header__title {
  font-size: 0.9em;
  color: white;
  padding: 10px;
  font-weight: bold;
  background: var(--primary-linear-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/*** recherche de la ville ***/
.city-form {
  width: 95%;
  max-width: 600px;
  margin: 15px auto 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.city-form__label {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #f9d976, #f39f86);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}
.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-form__input {
  width: 80%;
  height: 30px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.city-form__button {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  padding: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color);
}
.city-form__button:active {
  transform: translateY(1px);
}
.city-form__button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.city-form__button-icon {
  filter: invert(71%) sepia(6%) saturate(3042%) hue-rotate(324deg)
    brightness(99%) contrast(92%);
}
.city-form__error-message {
  display: flex;
  justify-content: center;
  color: white;
}
/*** choix d'une ville ***/
.city-selection {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.city-selection__info {
  margin: 5px auto;
  background: linear-gradient(to right, #f9d976, #f39f86);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  font-weight: bold;
}
.city-selection__list {
  color: white;
}
.city-selection__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: 500;
}
.city-selection__item:hover,
.city-selection__item-selected {
  background: var(--primary-linear-gradient);
  color: black;
  font-weight: 500;
}
.city-selection__img,
.current-forecast__img_flag {
  width: 24px;
  height: auto;
}
.city-selection__button {
  display: block;
  width: 20%;
  max-width: 100px;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  background: linear-gradient(to right, #f9d976, #f39f86);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.city-selection__button:hover {
  border: 2px solid black;
  background: var(--primary-linear-gradient);
  -webkit-text-fill-color: black;
}
.city-selection__button-hidden {
  display: none;
}
/*** affichage météo actuelle ***/
.current-forecast {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: white;
  width: 95%;
  max-width: 600px;
  margin: 5px auto 0 auto;
  text-align: center;
}
.periodical-forecast {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 95%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.periodical-forecast__list {
  padding: 10px;
  margin: auto;
  min-width: 15%;
}
/*# sourceMappingURL=style.css.map */
